########################
### Compiler project ###
########################

Compiler

##############
### Builds ###
##############

Bin

######################
### Resource files ###
######################

*.aps

##############################
### Resource project files ###
##############################

*.psd