##############
### Builds ###
##############

bin

########################
### Compiler project ###
########################

build

######################
### Resource files ###
######################

*.aps

##############################
### Resource project files ###
##############################

*.psd